# Guided Project: Exploring Hacker News Posts

Wczytujemy dane i rozdzielamy zbiór na nagłówek i dane. Sprawdzamy 5 pierwszych kolumn.

In [ ]:
url = 'http://bioinf-mw.bihz.upwr.edu.pl/resources/dataquest/hacker_news.csv'
hn = from_csv_url_to_list_of_lists_of_strings(url)

The empty last line was removed while processing http://bioinf-mw.bihz.upwr.edu.pl/resources/dataquest/hacker_news.csv.

In [ ]:
headers=hn[0]
hn=hn[1:]

In [ ]:
print(headers)

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']

In [ ]:
print(hn[:5])

[['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52'], ['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30'], ['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20'], ['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01'], ['10301696', 'Note by Note: The Making of Steinway L1037 (2007)', 'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0', '8', '2', 'walterbell', '9/30/2015 4:12']]

Tworzymy trzy puste listy ask_posts, show_posts i other_posts. Chcemy posegregować wpisy w zależności od tytułu. Sprawdzając w pętli każdy rekord, zapisujemy je do odpowiedniej listy. Sprawdzamy czy tytuł(wiersz 1) zaczyna się od ask hn czy od show hn. Dodajemy go do konkretnej listy.

In [ ]:
ask_posts=[]
show_posts=[]
other_posts=[]

for row in hn:
    title=row[1]
    title=title.lower()
    if title.startswith("ask hn"):
      ask_posts.append(row)
    elif title.startswith("show hn"):
      show_posts.append(row)
    else:
      other_posts.append(row)

Sprawdzamy długość wszystkich 3 list.

In [ ]:
print("ask_posts:", len(ask_posts))
print("show_posts:", len(show_posts))
print("other_posts:", len(other_posts))

ask_posts: 1744
show_posts: 1162
other_posts: 17194

Naszym zadaniem jest znalezienie całkowitej liczby komentarzy w postach z pytaniami. W tym celu wykorzystamy pętle for i stworzymy funkcje total_ask_and_show_comments. Wartości dodamy do pustej listy total_comments. Obliczamy ich średnią wykorzystując liczbę wszystkich postów.

In [ ]:
def total_ask_and_show_comments(posts):
  total_comments=0
  for row in posts:
    comments=int(row[4])
    total_comments+=comments
  avg_comments=total_comments/len(posts)
  print(avg_comments)

In [ ]:
total_ask_and_show_comments(ask_posts)
total_ask_and_show_comments(show_posts)

14.038417431192661
10.31669535283993

In [ ]:
%%html
<table rules='all'>
<tr><td>average_ask_posts</td><td>average_show_posts</td></tr>
<tr><td>14.04</td><td>10.32</td></tr>
</table>

Średnio jest więcej postów ask_posts od show_posts.

Importujemy moduł datetime i tworzymy pustą listę result_list który posłuży za listę list. Dołączamy do niej dwa elementy:
*   kolumna created_at (musimy pobrać element o indeksie 6 z każdej kolumny)
*   liczba komentarzy do danego postu

In [ ]:
import datetime as dt

In [ ]:
result_list=[]

for row in ask_posts:
  result_list.append([row[6], int(row[4])])

In [ ]:
result_list[:5]

[['8/16/2016 9:55', 6],
 ['11/22/2015 13:43', 29],
 ['5/2/2016 10:14', 1],
 ['8/2/2016 14:20', 3],
 ['10/15/2015 16:38', 17]]

Tworzymy dwa puste słowniki counts_by_hour oraz comments_by_hour. Przeprowadzamy pętlę przez każdy wiersz result_list i wyodrębniamy datę z godziny(jest pierwszym elementem wiersza). Wykorzystujemy funkcję datetime.strptime(), która przetwarza danę oraz tworzy obiekt datetime. Funkcja datetime.strftime() wybiera samą godzinę z obiektu datetime. Sprawdzamy czy godzina jest w słowniku counts_by_hours. 
* Jeśli nie ma, to ustawia wartość 1 w counts_by_hour, tworzy wartość w comments_by_hour i ustawia ją równy numerowi komentarza.
* Jeśli jest, to zwiększa wartości w counts_by_hour oraz comments_by_hour o numer komentarza.

In [ ]:
counts_by_hour = {}
comments_by_hour = {}

for row in result_list:
    date = dt.datetime.strptime(row[0], "%m/%d/%Y %H:%M")
    hour = dt.datetime.strftime(date, "%H")
    if hour not in counts_by_hour:
        counts_by_hour[hour] = 1
        comments_by_hour[hour] = row[1]
    else:
        counts_by_hour[hour] += 1
        comments_by_hour[hour] += row[1]

Obliczamy średnią liczbę komentarzy dla postów utworzonych w każdej godzinie dnia. Tworzymy listę, w której pierwszym elementem jest godzina, a drugim średnia liczba komentarzy na post. Robimy iterację po godzinach zamieszonych w comments_by_hour i dodajemy je do avg_by_hours.

In [ ]:
avg_by_hour=[]

for hr in comments_by_hour:
    avg_by_hour.append([hr, comments_by_hour[hr] / counts_by_hour[hr]])

avg_by_hour

[['09', 5.5777777777777775],
 ['13', 14.741176470588234],
 ['10', 13.440677966101696],
 ['14', 13.233644859813085],
 ['16', 16.796296296296298],
 ['23', 7.985294117647059],
 ['12', 9.41095890410959],
 ['17', 11.46],
 ['15', 38.5948275862069],
 ['21', 16.009174311926607],
 ['20', 21.525],
 ['02', 23.810344827586206],
 ['18', 13.20183486238532],
 ['03', 7.796296296296297],
 ['05', 10.08695652173913],
 ['19', 10.8],
 ['01', 11.383333333333333],
 ['22', 6.746478873239437],
 ['08', 10.25],
 ['04', 7.170212765957447],
 ['00', 8.127272727272727],
 ['06', 9.022727272727273],
 ['07', 7.852941176470588],
 ['11', 11.051724137931034]]

Tworzymy pustą listę swap_avg_by_hour, która będzie równa avg_by_hour z zamienionymi kolumnami. Dołączamy do swap_avg_by_hour listę, której pierwszy element jest drugim elementem wiersza, a drugi elementem jest pierwszym elementem wiersza. Następnie sortujemy ją w porządku malejącym.

In [ ]:
swap_avg_by_hour = []

for row in avg_by_hour:
    swap_avg_by_hour.append([row[1], row[0]])
    
print(swap_avg_by_hour)

[[5.5777777777777775, '09'], [14.741176470588234, '13'], [13.440677966101696, '10'], [13.233644859813085, '14'], [16.796296296296298, '16'], [7.985294117647059, '23'], [9.41095890410959, '12'], [11.46, '17'], [38.5948275862069, '15'], [16.009174311926607, '21'], [21.525, '20'], [23.810344827586206, '02'], [13.20183486238532, '18'], [7.796296296296297, '03'], [10.08695652173913, '05'], [10.8, '19'], [11.383333333333333, '01'], [6.746478873239437, '22'], [10.25, '08'], [7.170212765957447, '04'], [8.127272727272727, '00'], [9.022727272727273, '06'], [7.852941176470588, '07'], [11.051724137931034, '11']]

In [ ]:
sorted_swap = sorted(swap_avg_by_hour, reverse=True)

print(sorted_swap)

[[38.5948275862069, '15'], [23.810344827586206, '02'], [21.525, '20'], [16.796296296296298, '16'], [16.009174311926607, '21'], [14.741176470588234, '13'], [13.440677966101696, '10'], [13.233644859813085, '14'], [13.20183486238532, '18'], [11.46, '17'], [11.383333333333333, '01'], [11.051724137931034, '11'], [10.8, '19'], [10.25, '08'], [10.08695652173913, '05'], [9.41095890410959, '12'], [9.022727272727273, '06'], [8.127272727272727, '00'], [7.985294117647059, '23'], [7.852941176470588, '07'], [7.796296296296297, '03'], [7.170212765957447, '04'], [6.746478873239437, '22'], [5.5777777777777775, '09']]

Robimy iterację w sorted_swap. Korzystamy z funkcji str.format(), aby wypisać konkretną godzinę i średnią w odpowiednim formacie. Za pomocą datetime.strptime() zwracamy obiekt datetime i używamy strftime() do określenia formatu czasu. Dzięki {:.2f} wskazujemy tylko dwa miejsca po przecinku.

In [ ]:
print("Top 5 godzin dla Ask Post Comments")
avg=row[0]

for row in sorted_swap:
    time = dt.time(hour=int(row[1])).strftime("%H:%M")
    print(f"{time}: {avg} average comments per post")

Top 5 godzin dla Ask Post Comments
15:00: 11 average comments per post
02:00: 11 average comments per post
20:00: 11 average comments per post
16:00: 11 average comments per post
21:00: 11 average comments per post
13:00: 11 average comments per post
10:00: 11 average comments per post
14:00: 11 average comments per post
18:00: 11 average comments per post
17:00: 11 average comments per post
01:00: 11 average comments per post
11:00: 11 average comments per post
19:00: 11 average comments per post
08:00: 11 average comments per post
05:00: 11 average comments per post
12:00: 11 average comments per post
06:00: 11 average comments per post
00:00: 11 average comments per post
23:00: 11 average comments per post
07:00: 11 average comments per post
03:00: 11 average comments per post
04:00: 11 average comments per post
22:00: 11 average comments per post
09:00: 11 average comments per post

*Podsumowanie* Wyniki w zbiorze danym są przedstawione dla czasu Eastern Time w USA. Przepisując ją na polskie godziny, musimy dodać 6 godzin do przodu. Wówczas top 3 najkorzystniejszych godzin wygląda następująco:

In [ ]:
%%html
<style> td, th { border: 1px solid black; } </style>

<table>
   <thead>
      <tr> <th> Godzina <th>Średnia liczba komentarzy
   <tbody>
      <tr> <th> 21:00 <td>38.59 
      <tr> <th> 8:00 <td>23.81 
      <tr> <th> 2:00   <td> 21.52
</table>